<%= provide :title, @title %>

<div class="profile-body">
  <div class="col-md-8 content">
    <% @posts.each do |post| %>
      <div>
        <div class="avatar-post">
          <div class="circle-1"></div>
          <div class="circle-2"></div>
          <%= link_to picture_for(post.user), user_path(post.user) %>
          <h3><%= link_to post.title, post_path(post) %></h3>
          <div class="by">
            <%= link_to post.user.name, user_path(post.user), class: "label label-info" %>
          </div></br>
        </div>
      </div>
      <p style="margin-top: 10px;"><%= post.content[0..500].to_s.html_safe %></p>
      <div>
        <span class="badge">
          <%= t ".post_on" %> <%= post.created_at.strftime(t ".date_format") %>
        </span>
        <div class="pull-right">
          <a href="">
            <span class="label label-primary"><%= t ".story" %></span>
          </a>
        </div>
        <hr class="stylehr">
      </div>
    <% end %>
    <%= paginate @posts, :theme => "twitter-bootstrap-3" %>
  </div>
</div>
