<footer id="footer">
  <div class="footer_top">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="footer_widget wow fadeInLeftBig">
          <h2><%= t ".facebook" %></h2>
          <div class="fb-page" data-href="https://www.facebook.com/FramgiaVietnam/"
          data-tabs="timeline" data-height="200" data-small-header="false"
          data-adapt-container-width="false" data-hide-cover="false"
          data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/FramgiaVietnam/" class="fb-xfbml-parse-ignore">
              <a href="https://www.facebook.com/FramgiaVietnam/"><%= t ".framgia" %></a>
            </blockquote>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="footer_widget wow fadeInDown">
          <h2><%= t ".tag" %></h2>
          <ul class="tag_nav">
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="footer_widget wow fadeInRightBig">
          <h2><%= t ".about" %></h2>
          <address>
          <%= t ".address" %>
          </address>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_bottom">
    <p class="copyright"><%= t ".copyright" %> &copy; <a href="index.html">
      <%= t ".nth" %></a>
    </p>
  </div>
</footer>

<div id="fb-root"></div>

